@import "../../../../so-widgets-bundle/base/less/mixins";
//replace above import path with below when moving this over to main widgets bundle
//"../../../base/less/mixins";

@icon_size: 1.3em;
@rounding: 0.25em;
@padding: 0.75em;

//need the placeholder item so that lessphp doesn't throw fatals when no networks are present
//better solution is probably to try make lessphp better at handling empty items etc
@networks: placeholder #ffffff #000000,;

//we expect @networks to be a list of lists, but when there is only one network, there is no syntax to distinguish
//between a list with only one item (which is also a list) in it, and a list of any other types and as a result the
//length function returns the length of the one item in the list, instead of the length of the list.
@networks_length: 1;

//the recursive mixin which loops over the @networks list when it contains more than 1 item.
.create_network_styles() when (@networks_length > 1) {
    .for(@networks, @networks_length); .-each(@network) {
        .create_style(@network)
    };
}

//special handling for the case where there is only one network in the list
.create_network_styles() when (@networks_length = 1) {
    .create_style(@networks);
}

.create_network_styles();

.create_style(@network) {
    @name: extract(@network, 1);
    @icon_color: extract(@network, 2);
    @background_color: extract(@network, 3);

    @border_color: darken(@background_color, 15%);

    .sow-social-media-icon-@{name} {
        color: @background_color !important;

        font-size: @icon_size;
        padding: @padding @padding;
        margin: 5px;
        background: transparent;
        border: 2px solid @background_color;
        display: inline-block;
        width: 1.3em;
        text-align: center;

        .rounded(@rounding);

        text-shadow: 0 1px 0 rgba(0,0,0,0.05);

        &:visited,
        &:active,
        &:hover{
            color: @background_color !important;
        }

        &.ow-button-hover:hover {
            background: @background_color;
            color: @icon_color !important;
        }
    }
}
